
</head>
<body>
    <header>   
     <nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand" style="margin-left: 48px;">Navbar</a>
  <form class="form-inline">
    <button class="btn btn-outline-success my-2 my-sm-0" style="margin-right: 52px;" type="submit">Search</button>
  </form>
</nav>
</header>
<section>
    <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://images.unsplash.com/photo-1494976388531-d1058494cdd8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y2FyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  <a href="/items" type="button" class="btn btn-primary">Click</a>
  </div>
</div>
</section>

</body>
</html>