<header>
  <nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand" style="margin-left: 48px;">Navbar</a>
    <form class="form-inline">
      <button
        class="btn btn-outline-success my-2 my-sm-0"
        style="margin-right: 52px;"
        type="submit"
      >Search</button>
    </form>
  </nav>
</header>

<div class="container">
  <div class="row">
    {{#each cars}}
      <div class="col-md-3" style="margin-right:40px;">
        <div class="card" style="width: 18rem;">
          <img
            class="card-img-top"
            src="{{this.image}}"
            alt="Card image cap"
            style="height: 200px;"
          />
          <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <p class="card-text">{{this.category}}</p>
            <a href="/" class="btn btn-primary">Go Back</a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>